@model Cinemateca.Models.Filme

@{
    ViewBag.Title = "Detalhes";
}

<h3>Detalhes do Filme - @Html.DisplayFor(model => model.NOME) </h3>

<div>
    <h4>Filme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SINOPSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SINOPSE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRETOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRETOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCATEGORIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCATEGORIA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new {@class="btn btn-primary"})  &nbsp;

    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-primary" })
</p>
